<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dining.start.db_DAO">

	 <!-- 
	 	해당 sql을 메서드와 연결해서 처리
	 	id = 메서드명 
	 	resultType = 리턴
	 	parameterType = 매개변수	 
	  -->		 
	 <!--  -->
	<select id="getID" resultType="com.dining.start.db_VO">
	    select ID from SIGNUP_TABLE where ID = 'ADMIN1'
	</select>
	
	<select id="ID" resultType="com.dining.start.db_VO">
	    select * from SIGNUP_TABLE
	</select>
	
	<!-- 
	<select id="custOne" parameterType="String" resultType="com.dining.start.VO">
		select * from customer where custid = #{custid} 
	</select>
	
	<insert id="custIns" parameterType="com.dining.start.VO">
		insert into customer(custid, name, address, phone)
		values(customer_seq.nextval,#{name},#{address},#{phone})
	</insert>
	
	<delete id="custDel" parameterType="com.dining.start.VO">
		delete from customer where custid = #{custid}
	</delete>
	
	<update id="custUpdate" parameterType="com.dining.start.VO">
		update customer set name=#{name}, address=#{address}, phone=#{phone}
		where custid = #{custid}
	</update>
 -->	
</mapper>
